@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply flex items-center justify-center uppercase text-3xl text-white px-8 py-1 rounded-lg;
    border: 3px solid #ffad53;
    background: var(
      --Linear,
      linear-gradient(82deg, #f0881d 15.21%, #ffad53 107.19%)
    );
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .btn-secondary {
    @apply flex items-center justify-center uppercase text-3xl text-white px-8 py-1 rounded-lg;
    border: 3px solid #449ce4;
    background: var(
      --Linear,
      linear-gradient(78deg, #1368bc 17.82%, #449ce4 109.35%, #c9e9fb 143.61%)
    );
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .btn-tertiary {
    @apply bg-green-600 rounded-md px-5 py-1 text-white hover:bg-green-400;
  }

  .btn-gray {
    @apply bg-gray-500 rounded-md px-5 py-1 text-white hover:bg-gray-400;
  }

  .btn-danger {
    @apply bg-red-500 rounded-md px-5 py-1 text-white hover:bg-red-400;
  }

  .error-msg {
    @apply text-red-500 text-sm;
  }

  .card-prize {
    @apply bg-gray-100 rounded-md p-5 text-2xl text-gray-800 hover:bg-gray-200 cursor-pointer;
  }
}

input[type="text"],
input[type="number"] {
  @apply border border-gray-300 rounded-md shadow-sm px-3 py-1 min-w-[500px];
}

select {
  @apply border border-gray-300 rounded-md shadow-sm px-3 py-1 min-w-[500px];
}

button:disabled {
  @apply cursor-not-allowed bg-gray-300 hover:bg-gray-300;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fancy {
  --offset: 12px;
}

/* Conic gradient */
.fancy::before {
  content: "";
  background: conic-gradient(transparent 270deg, #dacaa4, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 4s linear infinite;
}

/* Overlay */
.fancy::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.fancy > * {
  z-index: 10;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

.not-fancy {
  --offset: 12px;
}

/* Conic gradient */
.not-fancy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 4s linear infinite;
}

/* Overlay */
.not-fancy::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.not-fancy > * {
  z-index: 10;
}
